h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
}


.login-form {
  padding-left: 30px;
  padding-right: 30px;

  mat-form-field {
    width: 100%;
  }

  button {
    margin-top: 20px;
    width: 100%;
  }
}

.error {
  color: red;
}

.success {
  color: green;
}
