<h1>Sign up to trip journal</h1>
<div class="login-form">
  <form [formGroup]="registerForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="email">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Password">
        <label class="error">{{errorMessage}}</label>
      </mat-form-field>
    </p>
    <p>
      <button (click)="tryFacebookLogin()" class="btn btn-primary btn-block" type="button">Sign up with Facebook</button>
    </p>
    <p>
      <button (click)="tryGoogleLogin()" class="btn btn-danger btn-block" type="button">Sign up with Google</button>
    </p>
    <p>
      <button (click)="tryTwitterLogin()" class="btn btn-info btn-block" type="button">Sign up with Twitter</button>
    </p>
    <p>Already have an account? <a href="/auth/login">Login</a></p>
  </form>
</div>
