<ng-container>
  <form (ngSubmit)="onSubmit(addressForm.value)"
        [formGroup]="addressForm" class="edit-form" novalidate>
    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <input formControlName="start" matInput readonly
                 [matDatepicker]="picker1" placeholder="Starting date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="end" matInput readonly
                 [matDatepicker]="picker2" placeholder="Ending date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input type="text" placeholder="Pick a city" aria-label="City"
                 matInput formControlName="locationName" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let item of filteredOptions | async" [value]="item.locationName">
              <mat-icon [svgIcon]="'flag-'+item['iso2'].toLowerCase()"></mat-icon>
              {{item['city'] + ', ' + item['state'] + ', ' + item['country']}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="address" matInput placeholder="Address">
        </mat-form-field>

        <button [disabled]="!addressForm.valid" color="primary" mat-raised-button type="submit">
          <mat-icon>save</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-error *ngIf="addressForm.hasError('dates')">
      End date must be after start date
    </mat-error>
  </form>
</ng-container>
