<div class="users-list">
  <h1>User address journal</h1>
  <mat-form-field class="search-field">
    <input (keyup)="searchByName()"
           [(ngModel)]="searchValue"
           [ngModelOptions]="{standalone: true}"
           matInput
           placeholder="Search by name..." type="text">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="exportCsv()">
    <mat-icon>import_export</mat-icon>
    Export as CSV
  </button>

  <app-edit-address [address]="newAddress"></app-edit-address>
  <mat-list>
    <app-address [address]="item" *ngFor="let item of addressService.data | async"
                 class="list-group-item list-group-item-action flex-column align-items-start">
    </app-address>
  </mat-list>
</div>
