<div class="page-container">
  <div class="side-bar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home/trips">
          <fa-icon icon="list"></fa-icon>
<!--          Trips list-->
        </a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home/trips">
          <fa-icon icon="map"></fa-icon>
<!--          Map-->
        </a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home/trips">
          <fa-icon icon="file-invoice-dollar"></fa-icon>
<!--          Countries per year-->
        </a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="privacy-policy">
          <fa-icon icon="question-circle"></fa-icon>
        </a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li (click)="logout()" class="nav-item nav-link">
        <fa-icon icon="sign-out-alt"></fa-icon>
      </li>
    </ul>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
