<div class="row" *ngIf="!trip.editMode">
  <div class="col col-md-4">
    <div class="row">
      <div class="col col-md-5">
        {{trip.start | date: 'yyyy-MM-dd'}}
      </div>
      <div class="col col-md-5">
        {{trip.end | date: 'yyyy-MM-dd'}}
      </div>
      <div class="col col-md-2">
        {{daysDiff(trip.start, trip.end)}}
      </div>
    </div>
  </div>

  <div class="col col-md-3">
    <span *ngIf="trip.countryCode"
          [class]="'flag-icon flag-icon-'+trip.countryCode"></span>
    {{trip.country}} <span *ngIf="trip.state">({{trip.state}})</span>
  </div>
  <div class="col col-md-1">
    {{trip.city}}
  </div>
  <div class="col col-md-2">
    {{trip.purpose}}
  </div>
  <div class="col col-md-1">
    <fa-icon icon="edit" (click)="trip.editMode=true"></fa-icon>
    <fa-icon icon="trash" [styles]="{'color':'#cc1111'}" (click)="delete()"></fa-icon>
  </div>
</div>
<app-edit-trip [trip]="trip" *ngIf="trip.editMode"></app-edit-trip>
