<div class="row">
  <div class="col-md-3 offset-md-1">
    <div class="input-group">
      <input (keyup)="searchByName()"
             [(ngModel)]="searchValue"
             [ngModelOptions]="{standalone: true}"
             class="form-control"
             placeholder="Search by name..." type="text">
      <div class="input-group-append">
        <span class="input-group-text"><fa-icon icon="search"></fa-icon></span>
      </div>
    </div>
  </div>

  <!--  <div class="offset-md-6 col-md-1">-->
  <!--    <a class="nav-link" routerLink="../new-account">-->
  <!--      <fa-icon icon="plus-square"></fa-icon>-->
  <!--    </a>-->

  <!--  </div>-->
</div>

<div class="list-group users-list">
  <app-edit-trip [trip]="newTrip"></app-edit-trip>
  <div class="list-group-item list-group-item-dark flex-column align-items-start">
    <div class="row">
      <div class="col col-md-2">Start</div>
      <div class="col col-md-2">End</div>
      <div class="col col-md-2">Country</div>
      <div class="col col-md-2">Purpose</div>
    </div>
  </div>
  <div *ngFor="let item of trips.data | async"
       class="list-group-item list-group-item-action flex-column align-items-start">
    <app-trip [trip]="item"></app-trip>
  </div>
</div>
